{% extends "base.html" %}
{% block titleform %}Detalles de Tipos de Procedimientos <a href="{% url 'detalletipoprocedimiento_new' %}"><i class="icon-plus-sign" title="Nuevo Registro"></i></a>{% endblock %}
{% block subtitleform %}Listado de los detalles de los tipos de procedimientos atendidos{% endblock %}
{% block formulario %}
	<table class="sortable">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Tipo de Procedimiento</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for detalletipoprocedimiento in object_list %}
				<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}">
					<td>{{detalletipoprocedimiento.nombre}}</td>
					<td>{{detalletipoprocedimiento.tipo_procedimiento}}</td>
					<td>
						<a href="{% url 'detalletipoprocedimiento_edit' detalletipoprocedimiento.id %}"><i class="icon-pencil"></i></a>
						<a href="{% url 'detalletipoprocedimiento_delete' detalletipoprocedimiento.id %}"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
