{% extends "base.html" %}
{% block titleform %}Municipios <a href="{% url 'municipio_new' %}"><i class="icon-plus-sign" title="Nuevo Registro"></i></a>{% endblock %}
{% block subtitleform %}Listado de municipios bomberiles{% endblock %}
{% block formulario %}
	<table class="sortable">
		<thead>
			<tr>
				<th>Zona</th>
                <th>Municipio</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for municipio in object_list %}
				<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}">
					<td>{{municipio.zona}}</td>
                    <td>{{municipio.nombre}}</td>
					<td>
						<a href="{% url 'municipio_edit' municipio.id %}"><i class="icon-pencil"></i></a>
						<a href="{% url 'municipio_delete' municipio.id %}"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'municipio_list' %}?page={{ page_obj.previous_page_number }}">previo</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'municipio_list' %}?page={{ page_obj.next_page_number }}">próximo</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
