{% extends "base.html" %}
{% block titleform %}Registro de Municipios{% endblock %}
{% block subtitleform %}{% endblock %}
{% block formulario %}
	{% csrf_token %}
	{% load widget_tweaks %}
	<div class="col_6">
		{{form.nombre.label}}<br/>
		{{form.nombre|attr:"size:60"|attr:"placeholder:Indique el nombre del municipio"}} <i class="icon-asterisk icono-small icono-required"></i><br/>
		{% if form.nombre.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.nombre.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}<br/>
	</div>
	<div class="col_6">
		{{form.zona.label}}<br/>
		{{form.zona|attr:"title:Seleccione la zona a la cual pertenece el municipio"}} <i class="icon-asterisk icono-small icono-required"></i><br/>
		{% if form.zona.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.zona.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}<br/>
	</div>
	<div class="col_12 center separar-vertical-40x">
		<button class="small blue"><i class="icon-check"></i> Guardar</button>
		&#160;&#160;
		<button class="small blue" type="button" onclick="location='{% url 'municipio_list' %}'"><i class="icon-remove-circle"></i> Cancelar</button>
	</div>
{% endblock %}
