{% extends "base.html" %}
{% block titleform %}Diagnósticos <a href="{% url 'diagnostico_new' %}"><i class="icon-plus-sign" title="Nuevo Registro"></i></a>{% endblock %}
{% block subtitleform %}Listado de diagnósticos{% endblock %}
{% block formulario %}
    <div>
		<input type="text" id="buscarDiagnostico" name="buscarDiagnostico" size="15" placeholder="Indique el diagnóstico"/>&#160;
		<button type="button" class="small blue" name="btnBuscar" id="btnBuscar">
            <i class="icon-search"> Buscar</i>
        </button>
        <script type="text/javascript">
            if (typeof $(location).attr('pathname').split("/")[4] != "undefined") {
                $("#buscarDiagnostico").val($(location).attr('pathname').split("/")[4]);
            }
            $("#btnBuscar").click(function() {
                var datos = document.getElementById('buscarDiagnostico').value;
                if (datos!='') {
                    $(location).attr('href',"{% url 'diagnostico_list' %}search/"+datos);
                }
                else {
                    $(location).attr('href',"{% url 'diagnostico_list' %}");
                }
            });
        </script>
	</div>
    <br/>
	<table class="sortable">
		<thead>
			<tr>
				<th>Nombre</th>
                <th>Descripción</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for diagnostico in object_list %}
				<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}">
					<td>{{ diagnostico.nombre }}</td>
                    <td>{{ diagnostico.descripcion }}</td>
					<td>
						<a href="{% url 'diagnostico_edit' diagnostico.id %}"><i class="icon-pencil"></i></a>
						<a href="{% url 'diagnostico_delete' diagnostico.id %}"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'diagnostico_list' %}?page={{ page_obj.previous_page_number }}">previo</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'diagnostico_list' %}?page={{ page_obj.next_page_number }}">próximo</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
