{{ incendio_estructura_form.management_form }}
{{ incendio_estructura_form.non_form_errors }}
{% for estructura in incendio_estructura_form.forms %}
    <div class="col_12 {{ incendio_estructura_form.prefix }}">
        {% if incendio_estructura_form.can_delete %}
            {{incendio_estructura_form.DELETE }} {# asigna un campo que permite indicarle al formset si se elimina el campo #}
        {% endif %}
        <div class="col_6">
            <fieldset>
                <legend>Datos de la estructura</legend>
                <div class="col_6 negrita">{{estructura.nombre_inmueble.label}}</div>
                <div class="col_6">
                    {{estructura.nombre_inmueble}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.nombre_inmueble.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.nombre_inmueble.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.causa.label}}</div>
                <div class="col_6">
                    {{estructura.causa}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.causa.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.causa.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.fase.label}}</div>
                <div class="col_6">
                    {{estructura.fase}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.fase.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.fase.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.perdida_inmueble.label}}</div>
                <div class="col_6">
                    {{estructura.perdida_inmueble}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.perdida_inmueble.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.perdida_inmueble.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.p_inmueble_obs.label}}</div>
                <div class="col_6">
                    {{estructura.p_inmueble_obs}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.p_inmueble_obs.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.p_inmueble_obs.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.perdida_mueble.label}}</div>
                <div class="col_6">
                    {{estructura.perdida_mueble}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.perdida_mueble.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.perdida_mueble.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.p_mueble_obs.label}}</div>
                <div class="col_6">
                    {{estructura.p_mueble_obs}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.p_mueble_obs.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.p_mueble_obs.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.zona_afectada.label}}</div>
                <div class="col_6">
                    {{estructura.zona_afectada}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.zona_afectada.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.zona_afectada.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
            </fieldset>
        </div>
        <div class="col_6">
            <fieldset>
                <legend>Datos del Propietario</legend>
                <div class="col_6 negrita">{{estructura.p_cedula.label}}</div>
                <div class="col_6">
                    {{estructura.p_cedula}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.p_cedula.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.p_cedula.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.propietario.label}}</div>
                <div class="col_6">
                    {{estructura.propietario}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.propietario.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.propietario.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.p_edad.label}}</div>
                <div class="col_6">
                    {{estructura.p_edad}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.p_edad.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.p_edad.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.p_sexo.label}}</div>
                <div class="col_6">
                    {{estructura.p_sexo}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.p_sexo.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.p_sexo.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.p_diagnostico.label}}</div>
                <div class="col_6">
                    {{estructura.p_diagnostico}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.p_diagnostico.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.p_diagnostico.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.p_detalle_diag.label}}</div>
                <div class="col_6">
                    {{estructura.p_detalle_diag}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.p_detalle_diag.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.p_detalle_diag.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col_6 negrita">{{estructura.p_estado.label}}</div>
                <div class="col_6">
                    {{estructura.p_estado}} <i class="icon-asterisk icono-small icono-required"></i>
                    {% if estructura.p_estado.errors %}
                        <br/>
                        <div class="notice error">
                            <i class="icon-remove-sign icon-large"></i>&#160;
                            {{ estructura.p_estado.errors }}
                            <a href="#close" class="icon-remove"></a>
                        </div>
                    {% endif %}
                </div>
            </fieldset>
        </div>
    </div>
{% endfor %}
<script type="text/javascript">
    $(function() {
        $(".{{ incendio_estructura_form.prefix }}").formset({
            prefix: "{{ incendio_estructura_form.prefix }}",
            addCssClass: 'icon-plus-sign',
            addText: ' agregar',
            deleteCssClass: 'icon-minus-sign',
            deleteText: ' eliminar'
        });
    });
</script>
