{{ incendio_estructura_form.management_form }}
{{ incendio_estructura_form.non_form_errors }}
{% for estructura in incendio_estructura_form.forms %}
    <div class="col_12 {{ incendio_estructura_form.prefix }}">
        {% if incendio_estructura_form.can_delete %}
            {{incendio_estructura_form.DELETE }} {# asigna un campo que permite indicarle al formset si se elimina el campo #}
        {% endif %}
        <div class="col_6">
            <fieldset>
                <legend>Datos de la estructura</legend>
                <div class="col_6 negrita">{{estructura.nombre_inmueble.label}}</div>
                <div class="col_6">{{estructura.nombre_inmueble}}</div>
                <div class="col_6 negrita">{{estructura.observaciones.label}}</div>
                <div class="col_6">{{estructura.observaciones}}</div>
                <div class="col_6 negrita">{{estructura.causa.label}}</div>
                <div class="col_6">{{estructura.causa}}</div>
                <div class="col_6 negrita">{{estructura.fase.label}}</div>
                <div class="col_6">{{estructura.fase}}</div>
                <div class="col_6 negrita">{{estructura.perdida_inmueble.label}}</div>
                <div class="col_6">{{estructura.perdida_inmueble}}</div>
                <div class="col_6 negrita">{{estructura.p_inmueble_obs.label}}</div>
                <div class="col_6">{{estructura.p_inmueble_obs}}</div>
                <div class="col_6 negrita">{{estructura.perdida_mueble.label}}</div>
                <div class="col_6">{{estructura.perdida_mueble}}</div>
                <div class="col_6 negrita">{{estructura.p_mueble_obs.label}}</div>
                <div class="col_6">{{estructura.p_mueble_obs}}</div>
                <div class="col_6 negrita">{{estructura.zona_afectada.label}}</div>
                <div class="col_6">{{estructura.zona_afectada}}</div>
            </fieldset>
        </div>
        <div class="col_6">
            <fieldset>
                <legend>Datos del Propietario</legend>
                <div class="col_6 negrita">{{estructura.p_cedula.label}}</div>
                <div class="col_6">{{estructura.p_cedula}}</div>
                <div class="col_6 negrita">{{estructura.propietario.label}}</div>
                <div class="col_6">{{estructura.propietario}}</div>
                <div class="col_6 negrita">{{estructura.p_edad.label}}</div>
                <div class="col_6">{{estructura.p_edad}}</div>
                <div class="col_6 negrita">{{estructura.p_sexo.label}}</div>
                <div class="col_6">{{estructura.p_sexo}}</div>
                <div class="col_6 negrita">{{estructura.p_diagnostico.label}}</div>
                <div class="col_6">{{estructura.p_diagnostico}}</div>
                <div class="col_6 negrita">{{estructura.p_detalle_diag.label}}</div>
                <div class="col_6">{{estructura.p_detalle_diag}}</div>
                <div class="col_6 negrita">{{estructura.p_estado.label}}</div>
                <div class="col_6">{{estructura.p_estado}}</div>
            </fieldset>
        </div>
    </div>
{% endfor %}
<script type="text/javascript">
    $(function() {
        $(".{{ incendio_estructura_form.prefix }}").formset({
            prefix: "{{ incendio_estructura_form.prefix }}",
            addCssClass: 'icon-plus-sign',
            addText: ' agregar',
            deleteCssClass: 'icon-minus-sign',
            deleteText: ' eliminar'
        });
    });
</script>
