{% extends "base.html" %}
{% block titleform %}Novedades <a href="{% url 'incendio_new' %}"><i class="icon-plus-sign" title="Nuevo Registro"></i></a>{% endblock %}
{% block subtitleform %}Listado de Novedades Atendidas{% endblock %}
{% block formulario %}
	<table class="sortable">
		<thead>
			<tr>
				<th>Fecha</th>
                <th>Lugar</th>
                <!--<th>Motivo</th>-->
                <th>Procedimiento</th>
                <th>Tipo de Procedimiento</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for novedad in object_list %}
				<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}">
					<td>{{ novedad.fecha }}</td>
                    <td>{{ novedad.direccion }}</td>
                    <!--<td>{# {{ novedad.motivo }} #}</td> -->
                    <td>{{ novedad.procedimiento }}</td>
                    <td>{{ novedad.tipo_procedimiento }}</td>
					<td>
						<!--<a href="{# {% url 'novedad_edit' novedad.id %} #}"><i class="icon-pencil"></i></a>
						<a href="{# {% url 'novedad_delete' novedad.id %} #}"><i class="icon-trash"></i></a>-->
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'novedad_list' %}?page={{ page_obj.previous_page_number }}">previo</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'novedad_list' %}?page={{ page_obj.next_page_number }}">próximo</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
