{% load widget_tweaks %}
<div id="tab_novedad" class="tab-content tab-content-custom">
    <div class="col_12 negrita">{{form.tipo_procedimiento.label}}</div>
    <div class="col_12">
        {{form.tipo_procedimiento|attr:"class:tooltip-top"|attr:"title:Seleccione el tipo de procedimiento a registrar"}}  <i class="icon-asterisk icono-small icono-required"></i>
        {% if form.tipo_procedimiento.errors %}
            <br/>
            <div class="notice error">
                <i class="icon-remove-sign icon-large"></i>&#160;
                {{ form.tipo_procedimiento.errors }}
                <a href="#close" class="icon-remove"></a>
            </div>
        {% endif %}
    </div>
    <div class="col_12">
        <div class="col_3 negrita">{{form.fecha.label}}</div>
        <div class="col_3 negrita">{{form.hora_salida.label}}</div>
        <div class="col_3 negrita">{{form.hora_llegada.label}}</div>
        <div class="col_3 negrita">{{form.hora_reporte.label}}</div>
    </div>
    <div class="col_12">
        <div class="col_3">
            {{form.fecha|attr:"class:datepicker tooltip-top"|attr:"size:10"|attr:"placeholder:dd-mm-yy"|attr:"title:Seleccione la fecha en el calendario"}} <i class="icon-asterisk icono-small icono-required"></i>
            {% if form.fecha.errors %}
                <br/>
                <div class="notice error">
                    <i class="icon-remove-sign icon-large"></i>&#160;
                    {{ form.fecha.errors }}
                    <a href="#close" class="icon-remove"></a>
                </div>
            {% endif %}
        </div>
        <div class="col_3">
            {{form.hora_salida|attr:"size:6"|attr:"placeholder:00:00"|attr:"class:tooltip-top"|attr:"title:Seleccione la hora en el reloj"}} <i class="icon-asterisk icono-small icono-required"></i>
            {% if form.hora_salida.errors %}
                <br/>
                <div class="notice error">
                    <i class="icon-remove-sign icon-large"></i>&#160;
                    {{ form.hora_salida.errors }}
                    <a href="#close" class="icon-remove"></a>
                </div>
            {% endif %}
        </div>
        <div class="col_3">
            {{form.hora_llegada|attr:"size:6"|attr:"placeholder:00:00"|attr:"class:tooltip-top"|attr:"title:Seleccione la hora en el reloj"}} <i class="icon-asterisk icono-small icono-required"></i>
            {% if form.hora_llegada.errors %}
                <br/>
                <div class="notice error">
                    <i class="icon-remove-sign icon-large"></i>&#160;
                    {{ form.hora_llegada.errors }}
                    <a href="#close" class="icon-remove"></a>
                </div>
            {% endif %}
        </div>
        <div class="col_3">
            {{form.hora_reporte|attr:"size:6"|attr:"placeholder:00:00"|attr:"class:tooltip-top"|attr:"title:Seleccione la hora en el reloj"}} <i class="icon-asterisk icono-small icono-required"></i>
            {% if form.hora_reporte.errors %}
                <br/>
                <div class="notice error">
                    <i class="icon-remove-sign icon-large"></i>&#160;
                    {{ form.hora_reporte.errors }}
                    <a href="#close" class="icon-remove"></a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col_12">
        <div class="col_6 negrita">{# {{form.municipio.label}} #}</div>
        <div class="col_6 negrita">{{form.parroquia.label}}</div>
    </div>
    <div class="col_12">
        <div class="col_6">
            {# {{form.municipio}} #}
        </div>
        <div class="col_6">
            {{form.parroquia}} <i class="icon-asterisk icono-small icono-required"></i>
            {% if form.parroquia.errors %}
                <br/>
                <div class="notice error">
                    <i class="icon-remove-sign icon-large"></i>&#160;
                    {{ form.parroquia.errors }}
                    <a href="#close" class="icon-remove"></a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col_12">
        <div class="col_6 negrita">{{form.direccion.label}}</div>
        <div class="col_6 negrita">{{form.procedimiento.label}}</div>
    </div>
    <div class="col_12">
        <div class="col_6">
            {{form.direccion|attr:"class:tooltip-top"}} <i class="icon-asterisk icono-small icono-required"></i>
            {% if form.direccion.errors %}
                <br/>
                <div class="notice error">
                    <i class="icon-remove-sign icon-large"></i>&#160;
                    {{ form.direccion.errors }}
                    <a href="#close" class="icon-remove"></a>
                </div>
            {% endif %}
        </div>
        <div class="col_6">
            {{form.procedimiento}} <i class="icon-asterisk icono-small icono-required"></i>
            {% if form.procedimiento.errors %}
                <br/>
                <div class="notice error">
                    <i class="icon-remove-sign icon-large"></i>&#160;
                    {{ form.procedimiento.errors }}
                    <a href="#close" class="icon-remove"></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div id="tab_unidades" class="tab-content tab-content-custom">
    <div class="col_12">
        {{ unidad_form.management_form }}
        {% for frm_und in unidad_form.forms %}
            <div class="{{ unidad_form.prefix }}">
                <fieldset>
                    <legend>Unidades</legend>
                        {% if unidad_form.can_delete %}
							{{unidad_form.DELETE }} {# asigna un campo que permite indicarle al formset si se elimina el campo #}
						{% endif %}
                        <div class="col_6 negrita">{{ frm_und.unidad.label }}</div>
                        <div class="col_6 negrita"><!--Tipo de Unidad-->&#160;</div>
                        <div class="col_6">
                            {{ frm_und.unidad }} <i class="icon-asterisk icono-small icono-required"></i>
                            {% if frm_und.unidad.errors %}
                                <br/>
                                <div class="notice error">
                                    <i class="icon-remove-sign icon-large"></i>&#160;
                                    {{ frm_und.unidad.errors }}
                                    <a href="#close" class="icon-remove"></a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col_6">&#160;
                            <!--<input type="text" name="lblUnidad" id="lblUnidad" value="" size="30" class="tooltip-top"
                                   title="Seleccione la unidad para mostrar el tipo al cual corresponde" readonly/>-->
                        </div>
                        <div class="col_12 negrita">{{ frm_und.a_cargo_de.label_tag }}</div>
                        <div class="col_12">
                            {{ frm_und.a_cargo_de }} <i class="icon-asterisk icono-small icono-required"></i>
                            {% if frm_und.a_cargo_de.errors %}
                                <br/>
                                <div class="notice error">
                                    <i class="icon-remove-sign icon-large"></i>&#160;
                                    {{ frm_und.a_cargo_de.errors }}
                                    <a href="#close" class="icon-remove"></a>
                                </div>
                            {% endif %}
                        </div>
                </fieldset>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        $(function() {
            $(".{{ unidad_form.prefix }}").formset({
                prefix: "{{ unidad_form.prefix }}",
                addCssClass: "icon-plus-sign",
                addText: ' agregar',
                deleteCssClass: 'icon-minus-sign',
                deleteText: ' eliminar'
            });
        });
    </script>
</div>
<div id="tab_comisiones" class="tab-content tab-content-custom">
    <div class="col_12">
        {{ comision_form.management_form }}
        {{ comision_form.non_form_errors }}
        {% for frm_com in comision_form.forms %}
             <div class="{{ comision_form.prefix }}">
                <fieldset>
                    <legend>Otros Organismos</legend>
                        {% if comision_form.can_delete %}
                            {{comision_form.DELETE }} {# asigna un campo que permite indicarle al formset si se elimina el campo #}
                        {% endif %}
                        <div class="col_6 negrita">{{ frm_com.comision.label }}</div>
                        <div class="col_6 negrita"><!--Descripción-->&#160</div>
                        <div class="col_6">
                            {{ frm_com.comision }} <i class="icon-asterisk icono-small icono-required"></i>
                            {% if frm_com.comision.errors %}
                                <br/>
                                <div class="notice error">
                                    <i class="icon-remove-sign icon-large"></i>&#160;
                                    {{ frm_com.comision.errors }}
                                    <a href="#close" class="icon-remove"></a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col_6">&#160;
                            <!--<input type="text" name="lblComision" id="lblComision" value="" size="30" class="tooltip-top"
                                   title="Seleccione la comisión para mostrar su descripción" readonly/>-->
                        </div>
                        <div class="col_12 negrita">{{ frm_com.a_cargo_de.label_tag }}</div>
                        <div class="col_12">
                            {{ frm_com.a_cargo_de }} <i class="icon-asterisk icono-small icono-required"></i>
                            {% if frm_com.a_cargo_de.errors %}
                                <br/>
                                <div class="notice error">
                                    <i class="icon-remove-sign icon-large"></i>&#160;
                                    {{ frm_com.a_cargo_de.errors }}
                                    <a href="#close" class="icon-remove"></a>
                                </div>
                            {% endif %}
                        </div>
                </fieldset>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        $(function() {
            $(".{{ comision_form.prefix }}").formset({
                prefix: "{{ comision_form.prefix }}",
                addCssClass: "icon-plus-sign",
                addText: ' agregar',
                deleteCssClass: 'icon-minus-sign',
                deleteText: ' eliminar'
            });
        });
    </script>
</div>
<script type="text/javascript">
    $(function() {
        $("#id_fecha").datepicker({
            currentText: 'Hoy',
            showOn: "button",
            buttonImage: "/media/images/calendar.png",
            buttonImageOnly: true,
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            dateFormat: 'dd-mm-yy',
            changeYear: true,
            showAnim: "drop",
            setDate: new Date()
        });

        $("#id_hora_salida").timepicker({
            hourText: "Hora",
            minuteText: "Minuto",
            showNowButton: true,
            nowButtonText: "ahora",
            minutes: {interval:1}
        });

        $("#id_hora_llegada").timepicker({
            hourText: "Hora",
            minuteText: "Minuto",
            showNowButton: true,
            nowButtonText: "ahora",
            minutes: {interval:1}
        });

        $("#id_hora_reporte").timepicker({
            hourText: "Hora",
            minuteText: "Minuto",
            showNowButton: true,
            nowButtonText: "ahora",
            minutes: {interval:1}
        });
    });
</script>
