{% extends "base.html" %}
{% block titleform %}Estaciones <a href="{% url 'estacion_new' %}"><i class="icon-plus-sign" title="Nuevo Registro"></i></a>{% endblock %}
{% block subtitleform %}Listado de estaciones bomberiles{% endblock %}
{% block formulario %}
	<table class="sortable">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Detalle</th>
				<th>Dirección</th>
				<th>Parroquia</th>
				<th>Teléfono</th>
				<th>Jefe</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for estacion in object_list %}
				<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}">
					<td>{{ estacion.nombre }}</td>
					<td>{{ estacion.detalle }}</td>
					<td>{{ estacion.direccion }}</td>
					<td>{{ estacion.parroquia }}</td>
					<td>{{ estacion.telefono }}</td>
					<td>{{ estacion.jefe }}</td>
					<td>
						<a href="{% url 'estacion_edit' estacion.id %}"><i class="icon-pencil"></i></a>
						<a href="{% url 'estacion_delete' estacion.id %}"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'estacion_list' %}?page={{ page_obj.previous_page_number }}">previo</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'estacion_list' %}?page={{ page_obj.next_page_number }}">próximo</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
