{% extends "base.html" %}
{% block titleform %}Registro de Estaciones{% endblock %}
{% block subtitleform %}{% endblock %}
{% block formulario %}
	{% csrf_token %}
	{% load widget_tweaks %}
	<div class="col_6">
		{{form.nombre.label}}<br/>
		{{form.nombre|attr:"size:60"|attr:"placeholder:Indique el nombre de la estación"|attr:"onkeypress:return validar_solo_texto(event)"}} <i class="icon-asterisk icono-small icono-required"></i><br/><!-- icon-spin -->
		{% if form.nombre.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.nombre.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}<br/>
		{{form.detalle.label}}<br/>
		{{form.detalle|attr:"size:60"|attr:"placeholder:indique una descripción de la estación"|attr:"onkeypress:return validar_solo_texto(event)"}} <i class="icon-asterisk icono-small icono-required"></i><br/>
		{% if form.detalle.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.detalle.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}<br/>
		{{form.telefono.label}}<br/>
		{{form.telefono|attr:"size:15"|attr:"placeholder:indique el teléfono de la estación"|attr:"onkeypress:return validar_solo_numeros(event)"}} <i class="icon-asterisk icono-small icono-required"></i><br/>
		{% if form.telefono.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.telefono.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}
	</div>
	<div class="col_6">
		{{form.jefe.label}}<br/>
		{{form.jefe|attr:"size:60"|attr:"placeholder:indique el nombre del jefe de la estación"|attr:"onkeypress:return validar_solo_texto(event)"}} <i class="icon-asterisk icono-small icono-required"></i><br/>
		{% if form.jefe.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.jefe.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}<br/>
		{{form.direccion.label}}<br/>
		{{form.direccion|attr:"size:60"|attr:"placeholder:indique la dirección de la estación"}}<br/>
		{% if form.direccion.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.direccion.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}<br/>
		{{form.parroquia.label}}<br/>
		{{form.parroquia|attr:"title:Seleccione la parroquia en donde se encuentra la estación"}} <i class="icon-asterisk icono-small icono-required"></i><br/>
		{% if form.parroquia.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.parroquia.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}
	</div>
	<div class="col_12 center separar-vertical-40x">
		<button class="small blue"><i class="icon-check"></i> Guardar</button>
		&#160;&#160;
		<button class="small blue" type="button" onclick="location='{% url 'estacion_list' %}'"><i class="icon-remove-circle"></i> Cancelar</button>
	</div>
{% endblock %}
