{% extends "base.html" %}
{% block titleform %}Registro de Rangos{% endblock %}
{% block subtitleform %}{% endblock %}
{% block formulario %}
    {% csrf_token %}
	{% load widget_tweaks %}
    <div class="col_12">
        {{form.rango.label}}<br/>
        {{form.rango|attr:"size:40"|attr:"placeholder:Indique el nombre del rango"}} <i class="icon-asterisk icono-small icono-required"></i><br/>
		{% if form.rango.errors %}
			<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ form.rango.errors }}<a href="#close" class="icon-remove"></a></div>
		{% endif %}
    </div>
    <div class="col_12 center separar-vertical-40x">
        <button class="small blue"><i class="icon-check"></i> Guardar</button>
        &#160;&#160;
        <button class="small blue" type="button" onclick="location='{% url 'rango_list' %}'"><i class="icon-remove-circle"></i> Cancelar</button>
	</div>
{% endblock %}