<!DOCTYPE HTML>
{% load static from staticfiles %}
<html>
	<head>
		<title>Sistema de Gestión de Estadísticas de la Dirección de Bomberos del Estado Mérida</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Sistema de Procedimientos Operacionales del Cuerpo de Bomberos del Estado Mérida" />
		<meta name="keywords" content="incidencias, bomberos, mérida, procedimientos, operaciones, novedades" />
        <link rel="stylesheet" href="{% static 'api/jquery-ui-1.10.4.custom/css/redmond/jquery-ui-1.10.4.custom.css' %}"/>
        <link rel="stylesheet" href="{% static 'api/jquery-ui-timepicker-0.3.3/jquery.ui.timepicker.css' %}" type="text/css" />
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'api/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'api/jquery-ui-timepicker-0.3.3/jquery.ui.timepicker.js' %}"></script>
        <script src="{% static 'api/jquery.formset.js' %}"></script>
		<script src="{% static 'api/kickstart/js/kickstart.js' %}"></script>
        <script src="{% static 'js/funciones.js' %}"></script>
        <script src="{% static 'js/validaciones.js' %}"></script>
		<link rel="stylesheet" href="{% static 'api/kickstart/css/kickstart.css' %}" media="all" />
		<link rel="stylesheet" href="{% static 'css/estilos.css' %}" media="all" />
        <script type="text/javascript">
            $("#acerca_de").click(function() {
                alert('en construcción');
            });
        </script>
        {% block extrahead %}
        {% endblock %}
	</head>
	<body>
		<!-- Capa del banner de la aplicación -->
		<div class="col_12 center banner colorblanco">
			<div class="col_11">
				<img src="{% static 'images/logo_gobernacion.jpg' %}" width="700px" height="90px"/>
			</div>
			<div class="col_1">
				<img src="{% static 'images/logo.png' %}" height="90px"/>
			</div>
		</div>
		<!-- Capa del menú vertical del sistema -->
		<div class="col_12 center">{% include 'menu.html' %}</div>
		<!-- Capa para el contenido de la aplicación -->
		<div class="col_12 fondo contenido_form" style="">
			<h5 class="center">{% block titleform %}Sistema de Gestión de Estadísticas{% endblock %}</h5>
			<h6 class="center">{% block subtitleform %}Dirección de Bomberos del Estado Mérida{% endblock %}</h6>
			<form method="{% block metodorequest %}post{% endblock %}">
				{% block formulario %}{% endblock %}
			</form>
		</div>
		<div class="col_12 fondo center" style="margin-top:0; font-size:10px; padding:4px; font-family:Arial;">
			Proyecto Socio-Tecnológico para el Departamento de Estadística y Control de Información de los Bomberos del Estado Mérida
			&#160;&#160;&#160;&#160;|&#160;&#160;&#160;&#160;
			Copyleft 2014
		</div>
        {% if exito %}
            <div id="dialog-info" title="Registro de datos">
                <p style="text-align:justify;">
                    <span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 7px 0;"></span>
                    Los datos fueron registrados satisfactoriamente
                </p>
            </div>
            <script type="text/javascript">
                $(function() {
                    $("#dialog-info").dialog({
                        resizable: false,
                        height:225,
                        modal: true,
                        buttons: {
                            'Aceptar': function() {
                                $(this).dialog('close');
                            }
                        }
                    });
                });
            </script>
        {% endif %}
        {% if respaldo %}
            {% ifequal respaldo "exito" %}
                <div id="dialog-info-backup" title="Respaldo de datos">
                    <p style="text-align:justify;">
                        <span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 7px 0;"></span>
                        Los datos fueron respaldados satisfactoriamente
                    </p>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $("#dialog-info-backup").dialog({
                            resizable: false,
                            height:225,
                            modal: true,
                            buttons: {
                                'Aceptar': function() {
                                    $(this).dialog('close');
                                }
                            }
                        });
                    });
                </script>
            {% else %}
                {% ifequal respaldo "error" %}
                    <div id="dialog-info-backup-error" title="Respaldo de datos">
                        <p style="text-align:justify;">
                            <span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 7px 0;"></span>
                            Se presentó un error al momento de respaldar los datos, verifique el log del servidor para mayor detalle.
                        </p>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            $("#dialog-info-backup-error").dialog({
                                resizable: false,
                                height:225,
                                modal: true,
                                buttons: {
                                    'Aceptar': function() {
                                        $(this).dialog('close');
                                    }
                                }
                            });
                        });
                    </script>
                {% endifequal %}
            {% endifequal %}
        {% endif %}
        {% if loaddata %}
            {% ifequal loaddata "exito" %}
                <div id="dialog-info-restore" title="Restauración de datos">
                    <p style="text-align:justify;">
                        <span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 7px 0;"></span>
                        Los datos fueron restaurados satisfactoriamente
                    </p>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $("#dialog-info-restore").dialog({
                            resizable: false,
                            height:225,
                            modal: true,
                            buttons: {
                                'Aceptar': function() {
                                    $(this).dialog('close');
                                }
                            }
                        });
                    });
                </script>
            {% else %}
                {% ifequal loaddata "error" %}
                    <div id="dialog-info-restore-error" title="Restauración de datos">
                        <p style="text-align:justify;">
                            <span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 7px 0;"></span>
                            Se presentó un error al momento de restaurar los datos, verifique el log del servidor para mayor detalle.
                        </p>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            $("#dialog-info-restore-error").dialog({
                                resizable: false,
                                height:225,
                                modal: true,
                                buttons: {
                                    'Aceptar': function() {
                                        $(this).dialog('close');
                                    }
                                }
                            });
                        });
                    </script>
                {% endifequal %}
            {% endifequal %}
        {% endif %}
	</body>
</html>
