<!DOCTYPE HTML>
{% load static from staticfiles %}
<html>
	<head>
		<title>Sistema de Procedimientos Operacionales del Cuerpo de Bomberos del Estado Mérida</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Sistema de Procedimientos Operacionales del Cuerpo de Bomberos del Estado Mérida" />
		<meta name="keywords" content="incidencias, bomberos, mérida, procedimientos, operaciones, novedades" />
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'api/kickstart/js/kickstart.js' %}"></script>
		<link rel="stylesheet" href="{% static 'api/kickstart/css/kickstart.css' %}" media="all" />
		<link rel="stylesheet" href="{% static 'css/estilos.css' %}" media="all" />
	</head>
	<body>
		<!-- Capa del banner de la aplicación -->
		<div class="col_12 center">
			<img src="{% static 'images/logo_gobernacion.jpg' %}" width="700px" height="90px"/>
			<img src="{% static 'images/logo.png' %}" height="90px"/>
		</div>
		<!-- Capa del menú vertical del sistema -->
		<div class="col_12 center">{% include 'menu.html' %}</div>
		<!-- Capa para el contenido de la aplicación -->
		<div class="col_3 fondo">
			<form method="post">
				<h4>{% block titleuser %}Panel de Acceso{% endblock %}</h4>
				{% block formuser %}
					<label for="usuario">Usuario:</label><br/>
					<input id="usuario" type="text" placeholder="nombre de usuario" /><br/>
					<label for="passwd">Contraseña:</label><br/>
					<input id="passwd" type="password" placeholder="contraseña de acceso" /><br/><br/>
				{% endblock %}
				<button class="small blue"><i class="icon-signin"></i> Acceso</button>
				<button class="small blue"><i class="icon-signout"></i> Salir</button>
			</form>
		</div>
		<div class="col_9 fondo" style="height:520px;overflow:auto;">
			<h5 class="center">{% block titleform %}Sistema de Procedimientos Operacionales{% endblock %}</h5>
			<h6 class="center">{% block subtitleform %}Cuerpo de Bomberos del Estado Mérida{% endblock %}</h6>
			<form method="{% block metodorequest %}post{% endblock %}">
				{% block formulario %}{% endblock %}
			</form>
		</div>
	</body>
</html>
